

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #3ec0b4, #d748f9);
  min-height: 100vh;
  font-family: "Poppins";
  font-size: 16px;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

form input,
form button {
  border: none;
  padding: 0.4rem;
  background: #fff;
  font-size: 1.5rem;
}

form button {
  color: #d748f9;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #d748f9;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  display: flex;
  background: #fff;
  font-size: 1rem;
  align-items: center;
  margin: 0.5rem;
  transition: all 0.5s ease;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

.complete-btn,
.trash-btn {
  background-color: #940d57;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.7rem;
  border: none;
}

.complete-btn {
  background-color: #3ec0b4;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
/* ......................................... */
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background:linear-gradient(120deg, rgb(122, 152, 149),rgb(4, 14, 159));
    min-height: 100vh;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
header{
    font-size: 2.5rem;
    font-weight: bold;
    min-height: 15vh;

}
header,form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;

}
form input, form button{
    border: none;
    padding: 0.4rem;
    background-color: #fff;
    font-size: 1.5rem;
}
form button{
    color: tomato;
    cursor: pointer;
    transition: all .3s ease;
}
form button:hover{
    background-color: tomato;
    color: #fff;

}
.container{
    display: flex;
    justify-content: center;
}
.url_todo{
    min-width: 30%;
    list-style: none;

}
.li_todo{
    display: flex;
    background-color: #fff;
    font-size: 1rem;
    align-items: center;
    margin: 0.5rem;
    transition: all 0.5s ease;
}
.name_todo{
    flex: 1;
    margin: 0 0.5rem;
}
.complet_but,.delet_but{
background-color: rgb(166, 29, 29);
color: #fff;
cursor: pointer;
padding: 0.5rem;
font-size: 0.7rem;
border: none;
}
.complet_but{
    background-color: rgb(31, 173, 31);
}
.completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  }
  
 .fa-trash,.fa-check {
    pointer-events: none;
  } */