

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #000000, #000000);
  min-height: 100vh;
  font-family: "Poppins";
  font-size: 16px;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

header,
form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}

form input,
form button {
  border: none;
  padding: 0.4rem;
  background: #fff;
  font-size: 1.5rem;
}

form button {
  color: #035c19;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #035c19;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  display: flex;
  background: #fff;
  font-size: 1rem;
  align-items: center;
  margin: 0.5rem;
  transition: all 0.5s ease;
}

.todo-item {
  flex: 1;
  padding: 0 0.5rem;
}

.complete-btn,
.trash-btn {
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 0.7rem;
  border: none;
}

.complete-btn {
  background-color: #098d31;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.links a{
    color: rgb(236, 230, 230);
    font-size: 30px;
    padding: 5px 10px;
  
}
.links i:hover{
    /* transform: scale(1.5); */
    transition: all 1s ease;
    color: aqua;
}
